- if @subscriber.present?
  = back_button_from_trapped_requests_page(params)
  - set_page_header("#{@subscriber.trapping_code} - Trapped Requests Listing", false)

  - trapped_requests = @trapped_requests

  %br/
  %br/
  -# The REFRESH INTERVAL is defined in file /app/assets/javascripts/trapped_requests.js
  %p.text-danger
    %small *This page refreshes automatically every 15 seconds

  #trappedRequestsListingContainer
    = render partial: "trapped_requests/render_trapped_requests", locals: { trapped_requests: trapped_requests}
- else
  = back_button_from_trapped_requests_page(params)
  %p
    %h3= t('trapped_request.message.inexistent_subscriber')
